@import 'base.css';

.wrap {width: 100%}
.banners {
	width: 100%;
	max-width: 800px;
	position: relative;
	margin: auto
}

.banners > ul {
	width: 100%;
	position: absolute;
}
.banner {
	width: 100%;
	position: absolute;
}
